#conteneur {
    /*position:absolute;*/
    /*top: 42vh;
    left:30vw;*/
    /*width:20vw;*/
    aspect-ratio: 1;
    display: grid;
    gap: 0.8vw; 
    justify-content: center; 
    align-items: center;
}

instru-js {
    /*position:absolute;*/
    /*
    left:60vw;
    top:42vh;*/
    font-size: 1.42em;
    margin:0 0 0 20px !important;
    white-space: pre;
    display:block;
    font-family: monospace;
}
menu-lvl {
    display: flex;
    gap:15px
}

.disque {
    /*height: 80%;*/
    width: 80%;
    aspect-ratio: 1;
    border-radius:50%;
    margin:auto;
}